<div id="<%= dom_id @friend %>" class="p-5 mb-4 bg-body-tertiary rounded-3">
  <h1>
    <%= @friend.first_name %> <%= @friend.last_name %>
  </h1>

  <div>
    Email : <%= @friend.email %>
  </div>

  <div>
    Phone : <%= @friend.phone %>
  </div>

  <div>
    Twitter : <%= @friend.twitter %>
  </div>

  <div class="py-4">
    <%if @friend.user == current_user%>
      <%= link_to "Edit", edit_friend_path(@friend), class:"mb-2 btn btn-dark" %>
      <%= button_to "Destroy", @friend, method: :delete, class:"btn btn-dark" %>
    <%end %>
    <%= link_to "Back", friends_path %>
  </div>
</div>
